html{
  font-family: 'Quicksand', sans-serif;
  margin: 0 auto;
  
}

.header a.svg {    
  width: 250px;
  height: 100px;
  float:left; 
}

body {
  height:400px;
  background: url("img/background.jpg") center center;  
  background-size: cover;
}

 header nav a {
  float: right;
  margin:30px 30px 0 0;
  display: inline-block;
  margin-left: 18px;
  color: rgba(0,0,0,0.7);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover{
  color: rgba(0,0,0,1);
}

h1{
  text-align: center;
  font-size: 70px;
  font-weight: 700;
  color: white;
  text-transform:uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 25px;
  clear:both;
}

span{
  display: inline-block;
  padding: 0.5em 0.2em;
  border:white solid 8px;
}

.header .kicker{
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


/*Footer*/



 .logo2 {
  width: 100px;
  height: 100px;   
}



footer  {
  float: left;  
  display: inline-block;  
  margin-top:200px;  
  font-weight: 700;
  font-size: 16px;
  
}
 .twitterl, .facebookl{
  width: 60px;
  height: 60px;
}



.copyright {
  color: white;
}

a.facebookl:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}

